{% extends "base.html" %}

{% block head_title %} User details {% endblock %}

{% block content %}
<div class="container">
    <a href="/users" class="btn btn-secondary float-end">Home</a>
</div>
<div class=" card col-6 mx-auto">
    <div class="card-body">
        <h2 class="text-center">User {{user.id}}</h2>
        <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created on: {{user.created_at}}</p>
        <p>Last Updated: {{user.updated_at}}</p>
    </div>
</div>
{% endblock %}